name: co-dockerhub
on:
  push:
    branches: ["main", "python-cicd-lab"]
  pull_request:
    branches: ["main", "python-cicd-lab"]

jobs: 
  build-test-push:
    runs-on: ubuntu-latest
    steps: 
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
         python-version: "3.11"
         
      - run: |
          pip install -r requirements.txt
          pytest -q
      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - uses: docker/build-push-action@v6
        with:
          push: true
          tags: ${{secrets.DOCKERHUB_USERNAME}}/python-ci-lab:latest
      